<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{% block title %}My account{% endblock title %}</title>
        <link rel="stylesheet" href="#">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">

         {%  block specifiy %}
                {% if login %}
                    <a href="/signout"><button class="signout" type="submit">Sign out</button></a>
                    <h1>My account</h1>
                        <a href="/kdosem"><button type="submit">Kdo sem</button></a>
                        <a href="/ura"><button type="submit">Koliko je ura</button></a>
                        <a href="/lokacija"><button type="submit">Kje sem</button></a>
                        <a href="/kakosem"><button type="submit">Kako sem</button></a>
                    </ul>
                {% else %}
                    Ce zelis uporabljati Zabec.net se prosim <a href="/signin">logiraj tu</a>. Ce uporabniskega racuna se nimas, se <a href="/registration">registriraj</a>.
                {% endif %}

         {% endblock specifiy %}

        </div>
    </body>
</html>