{% extends "hello.html" %}

{% block title %}Prejeto sporocilo{% endblock title %}

{% block specifiy %}

    {% if login %}
        <h1>Podatki sporočila</h1>

            <p>Ime sporočila: {{ message.name1 }}</p>
            <p>Sporocilo: {{ message.body }}</p>
            <p>Datum sporočila: {{ message.created }}</p>

    {% else %}
        Če želiš uporabljati Bmail se prosim <a href="/signin">logiraj tu</a>. Če uporabniškega računa še nimaš, se <a href="/registration">registriraj</a>.
    {% endif %}



{% endblock specifiy %}