{% extends "hello.html" %}

{% block title %}Recived{% endblock title %}

{% block specifiy %}
    {% if login %}
        <button class="signout" type="submit"><a href="/signout">Sign out</a></button>
        <h1>My account</h1>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/novosporocilo">Novo sporocilo</a></li>
            <li role="presentation" class="active"><a href="/prejeto">Prejeto</a></li>
            <li role="presentation"><a href="/poslano">Poslano</a></li>
            <li role="presentation"><a href="/vreme">Vreme</a></li>
        </ul>
        <h1>Seznam prejetih sporocil</h1>

        {% for message in list %}
            <p><a href="/prejeto/{{ message.key.id() }}"> Ime sporocila:  {{ message.name1}}, poslano dne {{ message.created }}, posiljatelj: {{ message.sender }}</a></p>
        {% endfor %}

    {% else %}
        Če želiš uporabljati Bmail se prosim <a href="/signin">logiraj tu</a>. Če uporabniškega računa še nimaš, se <a href="/registration">registriraj</a>.
    {% endif %}



{% endblock specifiy %}