<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Create account</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            <div class="glava">

                <a href="/signin"><button  class="btn btn-primary" id="signin" type="submit">Sign in</button></a>
            </div>
            <h1 id="header1">Create your Zabec.net Account</h1>
            <div class="sredina">
                <div class="row">

                    <div class="col-md-6">
                        <div class="wrap">
                            <form action="/registration" method="post">
                                </br>
                                 <div class="form-group">
                                     <label class="surname">Name</label></br>
                                     <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                     <label class="surname">Surname</label></br>
                                     <input type="text" class="form-control" id="surname1" name="surname" placeholder="Enter surname">
                                </div>
                                <div class="form-group">
                                     <label class="surname">Email</label></br>
                                     <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                                </div>
                                <div class="form-group">
                                     <label class="surname">Password</label></br>
                                     <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                                </div>
                                <div class="form-group">
                                     <label class="surname">Confirm your password</label></br>
                                     <input type="password" class="form-control" id="check_password" name="check_password" placeholder="Again password">
                                </div>
                                <button class="btn btn-primary" id="createaccount" type="submit">Create account</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>