{% extends "hello.html" %}

{% block title %}Vreme{% endblock title %}

{% block specifiy %}

    {% if login %}
                <button class="signout" type="submit"><a href="/signout">Sign out</a></button>
                <h1>My account</h1>
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="/novosporocilo">Novo sporocilo</a></li>
                    <li role="presentation"><a href="/prejeto">Prejeto</a></li>
                    <li role="presentation"><a href="/poslano">Poslano</a></li>
                    <li role="presentation" class="active"><a href="/vreme">Vreme</a></li>
                </ul>

                <h3>Vreme v kraju {{ podatki.name }}</h3>

                <p>Opis: {{ podatki.weather[0].description }}</p>
                <p>Trenutna temperatura: {{ podatki.main.temp }} stopinj °C</p>
                <p>Veter: {{ podatki.wind.speed }} m/s</p>

    {% else %}
        Če želiš uporabljati Bmail se prosim <a href="/signin">logiraj tu</a>. Če uporabniškega računa še nimaš, se <a href="/registration">registriraj</a>.
    {% endif %}

{% endblock specifiy %}